<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityName</key>
		<string>Tauranga</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Mount Maunganui</string>
				<key>AttractionLocation_Lon</key>
				<real>176.171221</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.631061</real>
				<key>AttractionImageName</key>
				<string>TRG-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Waimarino Adventure Park</string>
				<key>AttractionLocation_Lon</key>
				<real>176.098976</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.698925</real>
				<key>AttractionImageName</key>
				<string>TRG-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>The Historic Village</string>
				<key>AttractionLocation_Lon</key>
				<real>176.148467</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.704481</real>
				<key>AttractionImageName</key>
				<string>TRG-3</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Mount Maunganui Main Beach</string>
				<key>AttractionLocation_Lon</key>
				<real>176.179238</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.632097</real>
				<key>AttractionImageName</key>
				<string>TRG-4</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Classic flyers</string>
				<key>AttractionLocation_Lon</key>
				<real>176.197832</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.668073</real>
				<key>AttractionImageName</key>
				<string>TRG-5</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Dophin Seafaris NZ</string>
				<key>AttractionLocation_Lon</key>
				<real>176.179674</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.669926</real>
				<key>AttractionImageName</key>
				<string>TRG-6</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>The Elms Tauranga</string>
				<key>AttractionLocation_Lon</key>
				<real>176.167948</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.676828</real>
				<key>AttractionImageName</key>
				<string>TRG-7</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Gisborne</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Tairāwhiti Museum</string>
				<key>AttractionLocation_Lon</key>
				<real>178.028698</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.663782</real>
				<key>AttractionImageName</key>
				<string>GIS-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>East Coast Museum of Technology</string>
				<key>AttractionLocation_Lon</key>
				<real>177.971158</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.648499</real>
				<key>AttractionImageName</key>
				<string>GIS-3</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Titirangi</string>
				<key>AttractionLocation_Lon</key>
				<real>178.033504</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.683345</real>
				<key>AttractionImageName</key>
				<string>GIS-2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Napier</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Church Road Winery</string>
				<key>AttractionLocation_Lon</key>
				<real>176.845842</real>
				<key>AttractionLocation_Lat</key>
				<real>-39.524967</real>
				<key>AttractionImageName</key>
				<string>NPE-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Marine Parade</string>
				<key>AttractionLocation_Lon</key>
				<real>176.918882</real>
				<key>AttractionLocation_Lat</key>
				<real>-39.497005</real>
				<key>AttractionImageName</key>
				<string>NPE-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>MTG Hawke&apos;s Bay</string>
				<key>AttractionLocation_Lon</key>
				<real>176.919003</real>
				<key>AttractionLocation_Lat</key>
				<real>-39.489105</real>
				<key>AttractionImageName</key>
				<string>NPE-4</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Napier Prison</string>
				<key>AttractionLocation_Lon</key>
				<real>176.918941</real>
				<key>AttractionLocation_Lat</key>
				<real>-39.484804</real>
				<key>AttractionImageName</key>
				<string>NPE-5</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Taradale</string>
				<key>AttractionLocation_Lon</key>
				<real>176.848861</real>
				<key>AttractionLocation_Lat</key>
				<real>-39.538351</real>
				<key>AttractionImageName</key>
				<string>GIS-3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Palmerston North</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Te Manawa(Rugby Museum)</string>
				<key>AttractionLocation_Lon</key>
				<real>175.607999</real>
				<key>AttractionLocation_Lat</key>
				<real>-40.358152</real>
				<key>AttractionImageName</key>
				<string>PMR-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>The Square</string>
				<key>AttractionLocation_Lon</key>
				<real>175.611066</real>
				<key>AttractionLocation_Lat</key>
				<real>-40.356163</real>
				<key>AttractionImageName</key>
				<string>PMR-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Victoria Esplanade Drive</string>
				<key>AttractionLocation_Lon</key>
				<real>175.617031</real>
				<key>AttractionLocation_Lat</key>
				<real>-40.370306</real>
				<key>AttractionImageName</key>
				<string>PMR-3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Wellington</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Museum of New Zealand</string>
				<key>AttractionLocation_Lon</key>
				<real>174.782011</real>
				<key>AttractionLocation_Lat</key>
				<real>-41.290457</real>
				<key>AttractionImageName</key>
				<string>WLG-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>ZEALANDIA Ecosanctuary</string>
				<key>AttractionLocation_Lon</key>
				<real>174.753294</real>
				<key>AttractionLocation_Lat</key>
				<real>-41.290506</real>
				<key>AttractionImageName</key>
				<string>WLG-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Wellington Cable Car</string>
				<key>AttractionLocation_Lon</key>
				<real>174.775156</real>
				<key>AttractionLocation_Lat</key>
				<real>-41.284242</real>
				<key>AttractionImageName</key>
				<string>WLG-3</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Wellington Botanic Garden</string>
				<key>AttractionLocation_Lon</key>
				<real>174.769128</real>
				<key>AttractionLocation_Lat</key>
				<real>-41.280635</real>
				<key>AttractionImageName</key>
				<string>WLG-4</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Wellington Zoo</string>
				<key>AttractionLocation_Lon</key>
				<real>174.784675</real>
				<key>AttractionLocation_Lat</key>
				<real>-41.319568</real>
				<key>AttractionImageName</key>
				<string>WLG-5</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Beehive</string>
				<key>AttractionLocation_Lon</key>
				<real>174.776634</real>
				<key>AttractionLocation_Lat</key>
				<real>-41.278442</real>
				<key>AttractionImageName</key>
				<string>WLG-6</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Cuba Street</string>
				<key>AttractionLocation_Lon</key>
				<real>174.775457</real>
				<key>AttractionLocation_Lat</key>
				<real>-41.293741</real>
				<key>AttractionImageName</key>
				<string>WLG-7</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Taupo</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Taupo Mari Carvings</string>
				<key>AttractionLocation_Lon</key>
				<real>176.007655</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.732979</real>
				<key>AttractionImageName</key>
				<string>TUO-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Spa Thermal Park</string>
				<key>AttractionLocation_Lon</key>
				<real>176.088469</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.673454</real>
				<key>AttractionImageName</key>
				<string>TUO-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Taupo Tandem Skydiving</string>
				<key>AttractionLocation_Lon</key>
				<real>176.081875</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.741864</real>
				<key>AttractionImageName</key>
				<string>TUO-3</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Taupo Museum</string>
				<key>AttractionLocation_Lon</key>
				<real>176.067317</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.687317</real>
				<key>AttractionImageName</key>
				<string>TUO-4</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Mine Bay</string>
				<key>AttractionLocation_Lon</key>
				<real>176.007655</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.732979</real>
				<key>AttractionImageName</key>
				<string>TUO-5</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Taupo Prawn Farm</string>
				<key>AttractionLocation_Lon</key>
				<real>176.100724</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.629674</real>
				<key>AttractionImageName</key>
				<string>TUO-6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Auckland</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Skytower</string>
				<key>AttractionLocation_Lon</key>
				<real>174.7622557</real>
				<key>AttractionLocation_Lat</key>
				<real>-36.8484518</real>
				<key>AttractionImageName</key>
				<string>AKL-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Waiheke Island</string>
				<key>AttractionLocation_Lon</key>
				<real>175.1080146</real>
				<key>AttractionLocation_Lat</key>
				<real>-36.8019237</real>
				<key>AttractionImageName</key>
				<string>AKL-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Rangitoto Island</string>
				<key>AttractionLocation_Lon</key>
				<real>174.8672171</real>
				<key>AttractionLocation_Lat</key>
				<real>-36.7898759</real>
				<key>AttractionImageName</key>
				<string>AKL-3</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Auckland Zoo</string>
				<key>AttractionLocation_Lon</key>
				<real>174.7197011</real>
				<key>AttractionLocation_Lat</key>
				<real>-36.8641414</real>
				<key>AttractionImageName</key>
				<string>AKL-4</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Auckland Art Gallery</string>
				<key>AttractionLocation_Lon</key>
				<real>174.7661978</real>
				<key>AttractionLocation_Lat</key>
				<real>-36.8513826</real>
				<key>AttractionImageName</key>
				<string>AKL-5</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>One Tree Hill</string>
				<key>AttractionLocation_Lon</key>
				<real>174.7892846</real>
				<key>AttractionLocation_Lat</key>
				<real>-36.9052355</real>
				<key>AttractionImageName</key>
				<string>AKL-6</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Piha</string>
				<key>AttractionLocation_Lon</key>
				<real>174.4676344</real>
				<key>AttractionLocation_Lat</key>
				<real>-36.9565367</real>
				<key>AttractionImageName</key>
				<string>AKL-7</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Whangarei</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Whangarei Falls</string>
				<key>AttractionLocation_Lon</key>
				<real>174.3357824</real>
				<key>AttractionLocation_Lat</key>
				<real>-35.6846222</real>
				<key>AttractionImageName</key>
				<string>WRE-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Mount Parihaka Lookout and Memorial</string>
				<key>AttractionLocation_Lon</key>
				<real>174.3366022</real>
				<key>AttractionLocation_Lat</key>
				<real>-35.7122387</real>
				<key>AttractionImageName</key>
				<string>WRE-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Kiwi North</string>
				<key>AttractionLocation_Lon</key>
				<real>174.2693666</real>
				<key>AttractionLocation_Lat</key>
				<real>-35.7423015</real>
				<key>AttractionImageName</key>
				<string>WRE-3</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Whangarei Quarry Gardens</string>
				<key>AttractionLocation_Lon</key>
				<real>174.308842</real>
				<key>AttractionLocation_Lat</key>
				<real>-35.7124388</real>
				<key>AttractionImageName</key>
				<string>WRE-4</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Claphams Clock Museum</string>
				<key>AttractionLocation_Lon</key>
				<real>174.3260658</real>
				<key>AttractionLocation_Lat</key>
				<real>-35.7251161</real>
				<key>AttractionImageName</key>
				<string>WRE-5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Kaitaia</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Rangiputa</string>
				<key>AttractionLocation_Lon</key>
				<real>173.2980996</real>
				<key>AttractionLocation_Lat</key>
				<real>-34.8802932</real>
				<key>AttractionImageName</key>
				<string>KAT-1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Paihia</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Cruise to the hole in the Rock</string>
				<key>AttractionLocation_Lon</key>
				<real>174.0926465</real>
				<key>AttractionLocation_Lat</key>
				<real>-35.281375</real>
				<key>AttractionImageName</key>
				<string>PAI-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>90 mile beach</string>
				<key>AttractionLocation_Lon</key>
				<real>172.9284145</real>
				<key>AttractionLocation_Lat</key>
				<real>-34.7194348</real>
				<key>AttractionImageName</key>
				<string>PAI-2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Hamilton</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Hamilton Gardens</string>
				<key>AttractionLocation_Lon</key>
				<real>175.305226</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.8049714</real>
				<key>AttractionImageName</key>
				<string>HLZ-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Waikato Museum</string>
				<key>AttractionLocation_Lon</key>
				<real>175.2865139</real>
				<key>AttractionLocation_Lat</key>
				<real>-37.7898065</real>
				<key>AttractionImageName</key>
				<string>HLZ-2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Rotorua</string>
		<key>Attraction</key>
		<array>
			<dict>
				<key>AttractionName</key>
				<string>Te Puia</string>
				<key>AttractionLocation_Lon</key>
				<real>176.2503888</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.1640854</real>
				<key>AttractionImageName</key>
				<string>ROT-1</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Polynesian Spa</string>
				<key>AttractionLocation_Lon</key>
				<real>176.2582188</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.1379004</real>
				<key>AttractionImageName</key>
				<string>ROT-2</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Government Gardens</string>
				<key>AttractionLocation_Lon</key>
				<real>176.2569247</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.1353153</real>
				<key>AttractionImageName</key>
				<string>ROT-3</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Kuirau Park</string>
				<key>AttractionLocation_Lon</key>
				<real>176.2444517</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.1334302</real>
				<key>AttractionImageName</key>
				<string>ROT-4</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Lady Knox Geyser</string>
				<key>AttractionLocation_Lon</key>
				<real>176.376978</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.3507479</real>
				<key>AttractionImageName</key>
				<string>ROT-5</string>
			</dict>
			<dict>
				<key>AttractionName</key>
				<string>Rainbow Springs Nature Park</string>
				<key>AttractionLocation_Lon</key>
				<real>176.221103</real>
				<key>AttractionLocation_Lat</key>
				<real>-38.109382</real>
				<key>AttractionImageName</key>
				<string>ROT-4</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
