<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityName</key>
		<string>Auckland</string>
		<key>cityStopTime</key>
		<integer>2</integer>
		<key>cityLocation_lon</key>
		<real>174.7619066</real>
		<key>cityLocation_lat</key>
		<real>-36.8484609</real>
		<key>cityImage_Name</key>
		<string>City-auckland</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Palmerston North</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>175.61113</real>
		<key>cityLocation_lat</key>
		<real>-40.35636</real>
		<key>cityImage_Name</key>
		<string>City-palmerston</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Napier</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>176.91667</real>
		<key>cityLocation_lat</key>
		<real>-39.48333</real>
		<key>cityImage_Name</key>
		<string>City-napier</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Taupo</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>176.08333</real>
		<key>cityLocation_lat</key>
		<real>-38.68333</real>
		<key>cityImage_Name</key>
		<string>City-taupo</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Gisborne</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>178.00417</real>
		<key>cityLocation_lat</key>
		<real>-38.65333</real>
		<key>cityImage_Name</key>
		<string>City-gisborne</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Tauranga</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>176.16667</real>
		<key>cityLocation_lat</key>
		<real>-37.68611</real>
		<key>cityImage_Name</key>
		<string>City-tauranga</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Hamilton</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>175.2833</real>
		<key>cityLocation_lat</key>
		<real>-37.783333</real>
		<key>cityImage_Name</key>
		<string>City-hamilton</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Dargaville</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>173.88333</real>
		<key>cityLocation_lat</key>
		<real>-35.93333</real>
		<key>cityImage_Name</key>
		<string>City-dargaville</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Kaitaia</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>173.262778</real>
		<key>cityLocation_lat</key>
		<real>-35.1125</real>
		<key>cityImage_Name</key>
		<string>City-kaitaia</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Paihia</string>
		<key>cityStopTime</key>
		<integer>2</integer>
		<key>cityLocation_lon</key>
		<real>174.083333</real>
		<key>cityLocation_lat</key>
		<real>-35.2833322</real>
		<key>cityImage_Name</key>
		<string>City-paihia</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Whangarei</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>174.32391</real>
		<key>cityLocation_lat</key>
		<real>-35.73167</real>
		<key>cityImage_Name</key>
		<string>City-whangarei</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Wellington</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>174.772996908</real>
		<key>cityLocation_lat</key>
		<real>-41.28666552</real>
		<key>cityImage_Name</key>
		<string>City-wellington</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>Rotorua</string>
		<key>cityStopTime</key>
		<integer>1</integer>
		<key>cityLocation_lon</key>
		<real>176.24516</real>
		<key>cityLocation_lat</key>
		<real>-38.13874</real>
		<key>cityImage_Name</key>
		<string>City-rotorua</string>
	</dict>
</array>
</plist>
